/target
/.cpcache
/.clj-kondo/.cache
/.lsp
/pom.xml
*.jar
*.asc
*.zip
*.log
/native
/shen/platforms
*~
repl-port
# scratch files written by the stream tests in test/shen/primitives.shen
/test/shen/[0-9]*.txt
